{% extends './body.html' %}

{% block title %}
Hello there
{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block container %}
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <h1>Librer&iacute;a <em>Para todos los bolsillos</em></h1>

        {% with messages = get_flashed_messages(with_categories = True) %}
        {% if messages %}
        {% for category, message in messages %}
        <br></br>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong style="font-size: 14px;"> {{ message }} </strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
</div>

<br>

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
        <h2> {{ data.title }} </h2>
    </div>
    {% if current_user.type_user == 'admin' %}
    {% if data.sales|length > 0 %}
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Libro</th>
                        <th>Unidades Vendidas</th>
                        <th>Precio Unitario</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% set count = namespace(total = 0) %}
                    {% for book in data.sales %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ book.title }}</td>
                        <td>{{ book.units_sold }}</td>
                        <td>$ {{ book.price }}</td>
                        <td>$ {{ book.price * book.units_sold }}</td>
                    </tr>
                    {% set count.total = count.total + (book.price * book.units_sold) %}
                    {% endfor %}
                    <tr>
                        <td>Total</td>
                        <td colspan="3"></td>
                        <td>$ {{ count.total }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    {% else %}
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
        <h2> Sin ventas :c </h2>
    </div>

    {% endif %}
    {% else %}
    {% if data.purchases|length > 0 %}
    {% for purchase in data.purchases %}
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <div class="card mb-4 shadow-sm">
            {% set url = 'img/fronts/' + purchase.isbn + '.jpg'%}
            <img class="card-img-top" src="{{ url_for('static', filename=url) }}" height="320" alt="{{ purchase.title }}">
            <div class="card-body">
                <h5 class="card-title">
                    {{ purchase.title }}
                </h5>
                <p class="card-text">Comprado: {{ purchase.purchased_at }}</p>
            </div>
        </div>
    </div>
    {% endfor %}

    {% else %}
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
        <h2> No has comprado libros </h2>
    </div>
    {% endif %}
    {% endif %}
</div>
{% endblock %}